<body>
    <div class="slide-container">
        <div class="slide-content">
            <div class="card-wrapper">
                <!-- Se repiten 8 tarjetas -->
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Cargos</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Usuarios</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Carreras</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Plan de Estudios</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Cuatrimestres</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Materias</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Cursos</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Ofertas Academicas</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Historico Academico</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Auditoria</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="https://via.placeholder.com/150" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Factura</h2>
                        <p class="description">Aquí se podrá crear, eliminar y modificar datos.</p>
                        <button class="button">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>